<div class="column">
  <div class="title">
    <div style="float:left">
      <edit ng-if="vm.isEdit(vm.column)"
            value="vm.column.name"
            on-complete="vm.updateColumn()"
            on-edit="vm.pendingColumn()"
            auto="vm.column.edit"></edit>
      <img ng-if="vm.isPending(vm.column)"
           src="/images/ajax-loader.gif"/>
    </div>
    <div class="dropdown-container">
      <span dropdown class="glyphicon glyphicon-option-vertical"></span>
      <ul>
        <li ng-click="vm.removeColumn()">Remove Column</li>
        <li ng-click="vm.addComment()">Add Comment</li>
      </ul>
    </div>
    <div style="clear:both"></div>
  </div>
  <div class="comments-parent">
    <div class="comments-container" scrunch ng-class="{'padded':vm.column.comments.length>0}">
      <div ng-repeat="comment in vm.column.comments" class="comment fadeit">
        <comment comment="comment" column="vm.column" retrospective="vm.retrospective"/>
      </div>
    </div>
    <button ng-click="vm.addComment()">
      <i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i>
      &nbsp;Add New Comment
    </button>
  </div>
</div>
